.hero{
  width: 100%;
  height: 100vh;
  padding-bottom: 10vh;
  display: flex;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #FFFFFF, #DDEEEE);
  background-size: cover;
  font-family: Arial, sans-serif;

  .banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: url('/home/dog-walk.gif');
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      opacity: 0.1;
      width: 100%;
      height: 100%;
      display: block;
      transform: rotate(45deg);

      @media (max-width: 768px) {
        transform: rotate(0deg);
        background-position: center;
        background-size: cover;
      }
    }
  }

  .title, .subtitle{
    z-index: 99;
  }


  .title{
    font-size: 48px;
    color: #2FF2A6;

    @media(max-width: 768px){
      font-size: 24px;
    }
  }

  .subtitle{
    margin: 10px auto;
    max-width: 800px;
    width: 100%;
    font-size: 20px;
    color: #626262;

    @media(max-width: 768px){
      font-size: 16px;
    }
  }

  @media(max-width: 768px){
    padding-bottom: 0vh;
  }

  .button{
    background-color: #2FF2A6;
    width: 100%;
    max-width: 300px;
    color: #fff;
    height: 60px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    z-index: 99;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto;

    @media(max-width: 768px){
      width: 90%;
      font-size: 16px;
    }
  }
}