@import "./abstract/colors";
@import "./abstract/spacing";
@import "./abstract/typography";

@import "./utils/spacing";


*{
  margin: 0 auto;
  padding: 0;
}

body, html{
  overflow-x: hidden;
}

@-ms-viewport{
  width: device-width;
}

.flickity-button{
  display: none;
}

.carousel{
  outline: none;
}